.search{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.searchInput{
    width: 500px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #24292e;
    font-size: 25px;
    margin-left: 80px;
    background: #f6f8fa;
}
.searchButton{
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    background: #24292e;
    border-radius: 5%;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
}